body {
    background-color: lightblue;
}

h2 {
    color: navy;
    text-align: center;
    font-size: 30px
}

h1 {
    color: purple;
    text-align: center;
    font_size: 40px;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}